@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: rgb(242, 244, 254, 1);
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
textarea {
  resize: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.vote-tag:active * {
  stroke: #fff;
  color: #fff;
}

.ux-tag:active {
  color: #fff;
}
.text-sort-by:hover {
  color: rgba(242, 244, 254, 0.5);
}
.home {
  min-height: 100vh;
}
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
  border: 1px solid olivedrab;
}
.sidebar_cont {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  visibility: hidden;
  z-index: -1;
  /* transition: all ease-in-out 5s; */
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.show_sidebar_cont {
  visibility: visible;
  z-index: 1;
  transform: scale(1);
}
.sidebar {
  height: calc(100vh - 72px);
  width: 271px;
}
.ux-tag {
  min-width: 3rem;
  max-width: max-content;
  padding: 12px;
}

.table_width {
  width: calc(223px - 48px);
}
.indicator {
  width: 8px;
  height: 8px;
}
.add_feed_cont_icon {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
}

/* .header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
picture {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.header-title {
  grid-column: 1/-1;
  grid-row: 2/4;
} */

@media (max-width: 679px) {
  .nav {
    background-image: url(./img/mobile/background-header.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .suggest_stats {
    display: none;
  }
  .keywords {
    display: none;
  }
  .roadmap {
    display: none;
  }
  .nav-center {
    flex-basis: 80%;
  }
  .roadmap_comm {
    max-width: 300px;
  }
  .request_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
}
@media (min-width: 679px) {
  .nav {
    background-image: none;
  }
  .nav-center {
    flex-basis: 100%;
  }
  .logo {
    background-image: url(./img/tablet/background-header.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sidebar_cont {
    display: none;
  }
  .feedback_cont {
    display: flex;
    justify-items: center;
    column-gap: 40px;
    padding-top: 28px;
  }
  .vote-tag {
    order: 1;
    /* border: 1px solid saddlebrown; */
  }
  .feedback_content_cont {
    order: 2;
    /* border: 1px solid green; */
    flex-basis: 75%;
  }
  .comm_stats {
    order: 3;
    /* border: 1px solid blue; */
  }
  .roadmap_card {
    /* flex-basis: 30%; */
    min-width: 223px;
  }
  .request_cont {
    background: #000;
    border: 4px solid brown;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 10px;
  }
  .card_roadmap {
    /* min-height: 251px; */
  }
}

@media (max-width: 767px) {
  /* .nav_header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  } */

  img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .content_cont {
    flex-basis: 70%;
  }
  .header_cont {
    flex-basis: 30%;
  }
}

/* @media (min-width: 1024px) {
  .nav_header {
    background: url(./img/mobile/background-header.png) no-repeat;
    background-size: cover;
  }
} */
.tab-header > div {
  /* flex-basis: 33.33%; */
}
.roadmap_card {
  position: relative;
}
.roadmap_card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  top: 0;
  background-color: #ad1fea;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active-btn {
  color: #3a4374;
  opacity: 1;
  border-bottom: 4px solid #ad1fea;
}
.feedback_cont {
}
